* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222;
}

#gameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 1024px) {
    #gameContainer {
        width: 100vw;
        height: 100vh;
    }

    canvas {
        width: 100vw;
        height: 100vh;
    }
}

#fs-overlay{
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,0.65);
  z-index: 9999;
}

#fs-button{
  display: none;
  font-size: 18px;
  padding: 12px 18px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

